PiKVM_Case/assets/* filter=lfs diff=lfs merge=lfs -text
PiKVM_Case/*.FCStd filter=lfs diff=lfs merge=lfs -text
PiKVM_Case/**/*.obj filter=lfs diff=lfs merge=lfs -text
PiKVM_Case/**/*.pdf filter=lfs diff=lfs merge=lfs -text
**/*.zip filter=lfs diff=lfs merge=lfs -text
**/*.afdesign filter=lfs diff=lfs merge=lfs -text
